<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- 所有请求都通过FilterDispatcher查找actionMapper的设置来决定请求对应的是哪个Action -->

	<display-name>邱永臣配置</display-name>

	<!-- 过滤器的配置 -->
	<filter>
		<!-- 名字 -->
		<filter-name>filterDispatcher</filter-name>
		<!-- 过滤器对应的名字 -->
		<filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>filterDispatcher</filter-name>
		<!-- 过滤匹配的URL -->
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 解决中文乱码问题 -->
	<filter>
		<filter-name>struts-clean</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ActionContextCleanUp</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts-clean</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 进入WEB应用访问的默认文件 -->
	<welcome-file-list>
		<welcome-file>studentLogin.jsp</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<!-- 如果将该xml文件放在WEB-INF下面的话，就需要下面配置 <param-value>WEB-INF/applicationContext.xml</param-value> -->
		<param-value>WEB-INF/applicationContext.xml</param-value>
		<!-- 下面是默认配置 -->
		<!-- <param-value>classpath:com/lzq/config/applicationContext-*.xml</param-value> -->
	</context-param>

	<!-- 采用Listener来初始化Spring容器 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
</web-app>